*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #555;
}

#cat-selected-container{
	width: 100%;
	height: 350px;
	line-height: 300px;
	text-align: center;
}

#cat-selected-container h2{
	font-family: sans-serif;
	font-size: 32px;
	color: white;
}

#cat-selected-container img{
	width: 400px;
}

#cat-selected-container .cat-name{
	color: black;
	width: 400px;
}

#cat-selected-container .counter{
	width: 400px;
}

#list-of-cats{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container{
	display: flex;
	min-width: 200px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

img{
	width: 200px;
	border-radius: 15px;
	box-shadow: 0px 0px 30px #000;
}

img:active{
	box-shadow: 0px 0px 15px #000;
}

.cat-name{
	z-index: 10;
	width: 200px;
	color: black;
	line-height: 30px;
	font-family: sans-serif;
	font-size: 16px;
	background-color: rgba(255,255,255,0.5);
	margin-bottom: -30px;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.counter{
	width: 200px;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	line-height: 40px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-top: -40px;
}