*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	display: flex;
	background-color: #555;
	padding-top: 15px;
}

#cat-selected-container{
	width: 50%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 15px;
}

#selected-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	box-shadow: 0 0 10px;
}

#selected-container:hover{
	box-shadow: 0 0 10px #ee5;
}

#selected-container:active{
	box-shadow: 0 0 5px #ee5;
}

#cat-selected-container h2{
	z-index: 10;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	line-height: 30px;
	margin-bottom: -30px;
	border-radius: 15px 15px 0 0;
}

#cat-selected-container img{
	max-width: 100%;
	border-radius: 15px;
}

#cat-selected-container span{
	width: 100%;
	line-height: 30px;
	margin-top: -30px;
	font-size: 16px;
	text-align: center;
	display: block;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0 0 15px 15px;
	color: white;
}

#cat-selected-container p{
	font-size: 32px;
	color: white;
	font-weight: bold;
}

ul{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

li{
	width: 95%;
	height: 48px;
	display: flex;
	flex-direction: row-reverse;
	background-color: #ddd;
	border-radius: 15px;
	box-shadow: 0 0 10px;
	margin-bottom: 10px;
}

li:hover{
	box-shadow: 0 0 15px #ee5;
}

li:active{
	box-shadow: 0 0 5px #ee5;
}

li img{
	width: 60px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

li h2{
	line-height: 48px;
	width: 100%;
	padding-left: 15px;
	color: #444;
}

form{
	width: 100%;
	display: flex;
	flex-direction: column;
}

form label{
	width: 100%;
	text-align: right;
	margin-top: 5px;
	background-color: #888;
	border-radius: 15px;
}
form input{
	line-height: 40px;
	margin-left: 10px;
	font-size: 16px;
	padding-left: 5px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: none;
}

button{
	width: 100%;
	height: 40px;
	margin-top: 5px;
	border-radius: 15px;
	text-transform: uppercase;
}

button.cancel-button{
	background-color: orange;
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    #cat-selected-container{
    	width: 100%;
    	margin: 0;
    }

    #selected-container{
    	width: 95%;
    	margin: 15px;
    }

    ul{
		width: 100%;
	}
	li{
		width: 95%;
	}
}